<!---start-content---->
<div class="main-content">
  <div class="wrap">
    <div class="right-content-heading">
      <div class="right-content-heading-left">
        <h3>Latest Videos</h3>
      </div>
      <div class="right-content-heading-right">
        <div class="social-icons">
          <ul>
            <li><a class="facebook" href="#" target="_blank"> </a></li>
            <li><a class="twitter" href="#" target="_blank"></a></li>
            <li><a class="googleplus" href="#" target="_blank"></a></li>
            <li><a class="pinterest" href="#" target="_blank"></a></li>
            <li><a class="dribbble" href="#" target="_blank"></a></li>
            <li><a class="vimeo" href="#" target="_blank"></a></li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="inner-page">
      <div class="title">
        <ul>
          <li><h4>By:</h4></li>
          <li><a href="#">Author</a></li>
          <li><a href="#"><img src="images/sub.png" title="subscribe">subscribe</a></li>
        </ul>
      </div>
      <div class="video-inner">
        <div class="videogular-container">
          <videogular vg-theme="config.theme">
            <vg-media vg-src="config.sources"
                      vg-tracks="config.tracks">
            </vg-media>
            <vg-controls>
              <vg-play-pause-button></vg-play-pause-button>
              <vg-time-display>{{currentTime | date:'mm:ss'}}</vg-time-display>
              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
              </vg-scrub-bar>
              <vg-time-display>{{timeLeft | date:'mm:ss'}}</vg-time-display>
              <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
              </vg-volume>
              <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>
            <vg-poster vg-url='config.plugins.poster'></vg-poster>
          </videogular>
        </div>

        <!--<youtube src="'https://www.youtube.com/embed/JXzswyfFg70'"></youtube>-->
      </div>
      <div class="clear"></div>
      <div class="video-details">
        <ul>
          <li><p>Uploaded on <a href="#">June 21, 2013</a> by <a href="#">Lorem</a></p></li>
          <li><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="tags">
        <ul>
          <li><h3>Tags:</h3></li>
          <li><a href="#">Games</a> ,</li>
          <li><a href="#">HD-Videos</a></li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="share-artical">
        <h3> Also share on</h3>
        <ul>
          <li><a href="#"><img src="images/facebook.png" title="facebook">Facebook</a></li>
          <li><a href="#"><img src="images/twiter.png" title="Twitter">Twiiter</a></li>
          <li><a href="#"><img src="images/in.png" title="linked-in">Linked-in</a></li>
          <li><a href="#"><img src="images/google+.png" title="google+">Google+</a></li>
          <li><a href="#"><img src="images/pintrest.png" title="pintrest">Pintrest</a></li>
          <li><a href="#"><img src="images/rss.png" title="rss">Rss</a></li>
        </ul>
      </div>
      <div class="artical-commentbox">
        <h3>leave a comment</h3>
        <div class="table-form">
          <form>
            <input type="text" class="textbox" value="Name:" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Name';}">
            <input type="text" class="textbox" value="Email:" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Email';}">
            <input type="text" class="textbox" value="Phone:" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Phone';}">
            <textarea value="Message:" onfocus="this.value = '';"
                      onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
          </form>
          <a href="#">submit comment</a>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
